<!-- The edit category view -->
<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
	<h1>Edit Category</h1>
	<!-- The edited category form -->
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="title">Title</label>
			<div>
				<input type="text" data-ng-model="category.title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div>
			<input type="submit" value="Update">
		</div>
		<!-- The error message element -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
	</div>
</section>