<!-- The list categories view -->
<section data-ng-controller="CategoriesController" data-ng-init="find()">
	<h1>Categories</h1>
	<ul>
		<!-- The list of category -->
		<li data-ng-repeat="category in categories">
			<a data-ng-href="#!/categories/{{category._id}}" data-ng-bind="category.title"></a>
			<br>
			<small data-ng-bind="category.created | date:'medium'"></small>
			<small>/</small>
			<small data-ng-bind="category.creator.fullName"></small>
		</li>
	</ul>
	<!-- If there are no categories in the list, suggest the user's create a new category -->
	<div data-ng-hide="!categories || categories.length">
		No categories yet, why don't you <a href="/#!/categories/create">create one</a>?
	</div>
</section>