<!-- The category view -->
<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
    <h1 data-ng-bind="category.title"></h1>
    <!-- Show the editing buttons to the category creator -->
    <div data-ng-show="authentication.user._id == category.creator._id">
        <a href="/#!/categories/{{category._id}}/edit">edit</a>
        <a href="#" data-ng-click="delete();">delete</a>
    </div>
    <small>
        <em>Posted on</em>
        <em data-ng-bind="category.created | date:'mediumDate'"></em>
        <em>by</em>
        <em data-ng-bind="category.creator.fullName"></em>
    </small>
</section>