<!-- The example view -->
<section ng-controller="ExampleController">
	<!-- If the user is not authenticated show the authentication link -->
	<div data-ng-show="!authentication.user">
		<ul class="list-group">
			<li class="list-group-item">
				<a href="/signup" class="btn">Signup</a>
			</li>
			<li class="list-group-item">
				<a href="/signin" class="btn">Signin</a></li>
		</ul>

	</div>
	<!-- Otherwise, show the user details and application links -->
	<div data-ng-show="authentication.user">
		<h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>	
		<a href="/signout" class="btn">Signout</a>
		<ul>
			<li><a href="/#!/categories">List Categories</a></li>
			<li><a href="/#!/categories/create">Create Category</a></li>
		</ul>
	</div>
</section>