<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
</head>
<body>
	<!-- Render AngularJS views  -->
	<section ng-view></section>

	<!-- Render the user object -->
	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>
	
	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-resource.js"></script>

	<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>

	<link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
	<script type="text/javascript" src="/lib/bootstrap/bootstrap.js"></script>
	
	<!-- Load the articles module -->
	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
	<script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
	<script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
	<script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

	<!-- Load the categories module -->
	<script type="text/javascript" src="/categories/categories.client.module.js"></script>
	<script type="text/javascript" src="/categories/controllers/categories.client.controller.js"></script>
	<script type="text/javascript" src="/categories/services/categories.client.service.js"></script>
	<script type="text/javascript" src="/categories/config/categories.client.routes.js"></script>

	<!-- Load the example module -->
	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

	<!-- Load the users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>