<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>

	<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>

	<link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
	<script type="text/javascript" src="/lib/bootstrap/bootstrap.js"></script>
</head>
<body>
  	<!-- Display flash messages  -->
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>

	<!-- Render the signin form  -->
	<form action="/signin" method="post">
		<div>
			<label>Username:</label>
			<input type="text" name="username" />
		</div>
		<div>
			<label>Password	:</label>
			<input type="password" name="password" />
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>

	<!-- Render the OAuth authentication links  -->
	<a href="/oauth/facebook">Sign in with Facebook</a>
	<a href="/oauth/twitter">Sign in with Twitter</a>
	<a href="/oauth/google">Sign in with Google</a>
</body>
</html>